.index{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.send--button{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fail{
    text-align: center;
    color: red;
}