*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}
textarea{
  max-width: 400px;
  max-height: 100px;
}
.App {
    display: grid;
    place-items: center;
}
.container {
    margin: 10%;
    padding: 5px;
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(168, 214, 214);
    color: rgb(8, 88, 119);
    border-radius: 10px;
}
.input{
    width: 80%;
}